/*Assignment 3 Flexboxes*/

/*Flexbox 1 for index images*/ /*From W3 Schools, 2023*/
.flex-container1 {
  display: flex;
  background-color: #f5c3c3;
}

.flex-container1 > div {
  background-color: rgb(223, 230, 236);
  color: rgb(19, 18, 18);
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

/*Flexbox 2 for Photo gallary in Bookings*/ /*From W3 Schools, 2023*/
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  align-items: center;
  justify-content: center;
  
}

.flex-container2 > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*Flexbox 3 for Te Reo terms in About Us*/ /*From W3 Schools, 2023*/
.flex-container3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 243, 179);
    
}

.flex-container3 > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*Border box code */
* {
    box-sizing: border-box;
  }

/*For all pages*/
/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }

/*For all pages:/  
/* Logo for Header */
.image {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Tino_Rangatiratanga_Maori_sovereignty_movement_flag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;  
    height: 40%;
  }

/*For all pages*/  
/* Style the header */
.header {
	padding-top: 30px;
  padding-right: 30px;
	color: red;
	font-size: 78px;
  font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}

/*For all pages*/
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/*For all pages*/
/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/*For all pages*/
/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*For index*/
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/*For index*/
/* Create two unequal columns that sits next to each other */
/* Left column */
.side {
  flex: 40%;
  background-color: #f1f1f1;
  padding: 20px;
}

/*For index*/
/* Main column */
.main {
  flex: 60%;
  background-color: rgb(252, 246, 246);
  padding: 20px;
}

/*For index*/
/*monospace font*/
.monospace {
  font-size: 135%;
  font-family: monospace;
}

/*For all pages*/
/*Footer design*/
.footer {
  background-color: #c9f7f7;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/*For footer on all pages*/
/*Spacing gap between words*/
p.one {
  word-spacing: 10px;
}

/*For all pages*/
/*Centers h1 text*/
h1 {
  width:100%;
  margin: 0 auto;
  background: rgb(188, 241, 172);
  text-align: center;
}

/*For our-menu, about-us pages*/
/*Displays text, images, and embeds in the center of the page*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*For our-menu* page*/
.border {
  border: 1px solid black;
  padding-top: 0px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 50px;
}

/*For about-us* page/
/*Cursive font 1 is large text and for the Maori text in About Us*/
.cursive1 {
  font-family: cursive;
  font-size: large;
  color:red;
  padding-left: 50px;
}

/*For about-us page*/
/*Cursive font 2 is a medium text and for the English text in About Us*/
.cursive2 {
  font-family: cursive;
  font-size: large;
  color: green; 
  padding-left: 50px;       
} 

/*For about-us page*/
h3{
  padding-left: 50px;
}

/*For all pages*/
/*Responsive Designs for mobile use*/
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  h1 {
    font-size: 30px; 
    line-height: 100%;
    margin-top: 10px;
  }

  /*container for youtube vids taken from W3Schools, 2022*/
  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 75%; /* 4:3 Aspect Ratio */
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  /*Taken from W3Schools, 2022*/
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .googleCalendar{
    position: relative;
    height: 0%;
    width: 50%;
    padding-bottom: 75%;
  }
  
  .googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
  }
}